body {
  margin: 0;
  line-height: normal;
  background: #383838;
}

:root {
  /* fonts */
  --font-almarai: Almarai;

  /* Colors */
  --color-darkslategray: #414149;

  /* border radiuses */
  --br-11xs: 2px;
}
